.DS_store
build
Debug
Release

scientific-references/__pycache__
helper-scripts/__pycache__

*.pdf
*.swp
*.tar.gz

comparison-with-analytical/
helper-scripts/old/
old-flare-data/
saved-data/
examples-sep22
